



.DS_Store

#-----------------------------
# dependency manager and library
#-----------------------------
Carthage
Pods
Podfile.lock
*.generated.swif
#-----------------------------
#xcodeproj
#-----------------------------
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcuserstate
Rhino.xcodeproj/project.xcworkspace/
Rhino.xcodeproj/xcuserdata/
Rhino.xcworkspace/xcuserdata/
#-----------------------------
#idea
#-----------------------------
.idea/**